/* --- 页面修饰 --- */

body {
	background-color: #F6F6F6; /* 使用十六进制颜色 F6F6F6 */
	font-family: "Microsoft YaHei", "SimSun", sans-serif; /* 微软雅黑 黑体 无线 */
}


/* --- 超链接修饰 --- */

/* 1. 基础状态（包括未访问和已访问） */

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* 2. 悬停状态（必须写在 link 和 visited 之后） */

a:hover {
    text-decoration: underline;
}

.text {
	text-align: left;
	/*font-family: "Microsoft YaHei", sans-serif;*/
	font-size: 9pt;
	text-indent: 24pt;
	padding-top: 5pt;
}

.div-inline-block {
	display: inline-block;
	margin-left: 6px;
    *display: inline;      /* IE6/7 */
    *zoom: 1;              /* 触发IE6/7的Layout */
}
.icon {
	margin-right: 2px;
}
